.meteoCard {
  background: #8a9fb6;
  background: linear-gradient(180deg, rgb(100, 162, 228) 0%, rgb(175, 196, 216) 74%, rgb(190, 219, 226) 100%);
}
.searchBar {
  max-width: 60%;
}
.body {
  background: rgb(253, 187, 45);
  background: linear-gradient(180deg, rgba(253, 187, 45, 1) 59%, rgba(255, 255, 255, 1) 100%);
}
